In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
plt.rcParams["font.sans-serif"] = ["SimHei"]
plt.rcParams["axes.unicode_minus"] = False
data = pd.read_csv(r"D:\Program Files (x86)\pythonpro\SpringFestivaldata\data\02_pandas\02_Data_preprocessing\boss岗位.csv",
                    encoding="gbk")
data = data.loc[1:,:]
data.head()

,标题,地区,公司名,公司领域,薪资,经验,规模,福利
1,数据分析师,上海·浦东新区·张江,中电金信,计算机软件,15-25K,经验不限,10000人以上,定期体检，节日福利，五险一金，补充医疗保险，带薪年假，零食下午茶
2,数据分析师,北京·大兴区·亦庄,沃东天骏信息技术,电子商务,30-60K·14薪,5-10年,10000人以上,加班补助，免费班车，带薪年假，定期体检，补充医疗保险，全勤奖，餐补，年终奖，股票期权，节日福...
3,数据分析师,北京·海淀区·马连洼,滴滴,移动互联网,15-30K·15薪,3-5年,1000-9999人,定期体检，补充医疗保险，五险一金
4,数据分析师,北京·海淀区·清河,小米,互联网,15-30K·14薪,3-5年,10000人以上,餐补，补充医疗保险，股票期权，年终奖，五险一金，定期体检，节日福利，12%公积金，带薪年假
5,数据分析师,杭州·西湖区·文三路,饿了么,O2O,25-50K,5-10年,10000人以上,定期体检，年终奖，股票期权，员工旅游，零食下午茶，包吃，带薪年假，免费班车，交通补助，通讯补...

In [87]:
# 完整性分析
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 1 to 303
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   标题      303 non-null    object
 1   地区      303 non-null    object
 2   公司名     303 non-null    object
 3   公司领域    303 non-null    object
 4   薪资      303 non-null    object
 5   经验      303 non-null    object
 6   规模      303 non-null    object
 7   福利      277 non-null    object
dtypes: object(8)
memory usage: 19.1+ KB

##### 1 只要标题含“数据分析”的数据，删除标题 地区 公司名 薪资相同的数据

In [88]:
data[data.标题.str.contains("数据分析")]
data.drop_duplicates(subset=["标题","地区","公司名","薪资"],keep="last")
data.describe()

           标题   地区   公司名 公司领域      薪资    经验          规模                福利
count     303  303   303  303     303   303         303               277
unique     85  188   265   54     141     7           6               275
top     数据分析师   ··  京东集团  互联网  10-15K  1-3年  1000-9999人  定期体检，补充医疗保险，五险一金
freq      156   46     6   73      14   107          82                 3

##### 2 从地区中提取出城市、区、商圈，并删除地区列

In [89]:
data["城市"] = data.地区.str.extract("(.*?)·")
data["区"] = data.地区.str.extract("·(.*)·")
data["商圈"] = data.地区.str.extract("·(\w*)$")         # \w数字、字母、汉字，不包括特殊字符
del data["地区"]
data.head()

,标题,公司名,公司领域,薪资,经验,规模,福利,城市,区,商圈
1,数据分析师,中电金信,计算机软件,15-25K,经验不限,10000人以上,定期体检，节日福利，五险一金，补充医疗保险，带薪年假，零食下午茶,上海,浦东新区,张江
2,数据分析师,沃东天骏信息技术,电子商务,30-60K·14薪,5-10年,10000人以上,加班补助，免费班车，带薪年假，定期体检，补充医疗保险，全勤奖，餐补，年终奖，股票期权，节日福...,北京,大兴区,亦庄
3,数据分析师,滴滴,移动互联网,15-30K·15薪,3-5年,1000-9999人,定期体检，补充医疗保险，五险一金,北京,海淀区,马连洼
4,数据分析师,小米,互联网,15-30K·14薪,3-5年,10000人以上,餐补，补充医疗保险，股票期权，年终奖，五险一金，定期体检，节日福利，12%公积金，带薪年假,北京,海淀区,清河
5,数据分析师,饿了么,O2O,25-50K,5-10年,10000人以上,定期体检，年终奖，股票期权，员工旅游，零食下午茶，包吃，带薪年假，免费班车，交通补助，通讯补...,杭州,西湖区,文三路

##### 3 查看北京地区的招聘数

In [90]:
data[data.城市=="北京"].shape[0]

70

##### 4 北京都有哪些区

In [91]:
data[data.城市=="北京"].区.unique()

array(['大兴区', '海淀区', '朝阳区', '昌平区', '顺义区', '西城区', '东城区', '丰台区', '通州区'],
      dtype=object)

##### 5 北京都有哪些商圈

In [92]:
data[data.城市=="北京"].商圈.unique()

array(['亦庄', '马连洼', '清河', '太阳宫', '望京', '团结湖', '昌平镇', '大望路', '来广营', '马坡',
       '左家庄', '中关村', '上地', '西直门', '五道口', '酒仙桥', '回龙观', '黄村', '景山', '人民大学',
       '立水桥', '金融街', '苏州桥', '三元桥', '亚运村', '科技园区', '紫竹桥', '西北旺', '西红门',
       '北京西站', '建国门', '永泰', '建国门内', '欢乐谷', '次渠', '朝外'], dtype=object)

##### 6 从薪资中提取薪资下限、薪资上限、薪数，并删除薪资列

In [93]:
data["薪资下限(K)"] = data.薪资.str.extract("(.*?)-").astype(int)
data["薪资上限(K)"] = data.薪资.str.extract("-(.*)K").astype(int)
data["薪数"] = data.薪资.str.extract("·(.*)薪")
data.薪数.fillna("12",inplace=True)
del data["薪资"]
data.薪数.astype(int)
data.head()

,标题,公司名,公司领域,经验,规模,福利,城市,区,商圈,薪资下限(K),薪资上限(K),薪数
1,数据分析师,中电金信,计算机软件,经验不限,10000人以上,定期体检，节日福利，五险一金，补充医疗保险，带薪年假，零食下午茶,上海,浦东新区,张江,15,25,12
2,数据分析师,沃东天骏信息技术,电子商务,5-10年,10000人以上,加班补助，免费班车，带薪年假，定期体检，补充医疗保险，全勤奖，餐补，年终奖，股票期权，节日福...,北京,大兴区,亦庄,30,60,14
3,数据分析师,滴滴,移动互联网,3-5年,1000-9999人,定期体检，补充医疗保险，五险一金,北京,海淀区,马连洼,15,30,15
4,数据分析师,小米,互联网,3-5年,10000人以上,餐补，补充医疗保险，股票期权，年终奖，五险一金，定期体检，节日福利，12%公积金，带薪年假,北京,海淀区,清河,15,30,14
5,数据分析师,饿了么,O2O,5-10年,10000人以上,定期体检，年终奖，股票期权，员工旅游，零食下午茶，包吃，带薪年假，免费班车，交通补助，通讯补...,杭州,西湖区,文三路,25,50,12

##### 7 北京的平均薪资

In [94]:
(data["薪资下限(K)"] + data["薪资上限(K)"])/2 * (data.薪数.astype(float))/12
# sal = (data["薪资下限(K)"] + data["薪资上限(K)"])/2
# sal.multiply(data.薪数.astype(float))/12
data["平均薪资"] = (data["薪资下限(K)"] + data["薪资上限(K)"])/2 * (data.薪数.astype(float))/12
data[data.城市=="北京"].平均薪资.mean()
# data.平均薪资[data.城市=="北京"].mean()

24.91130952380952

##### 8 从经验中提取学历，并把经验中的学历删掉

In [ ]:
# data["学历"] = data.经验.str.extract("(\w{2})$")
# data.经验 = data.经验[:-2]

##### 9 本科招聘书的占比

In [ ]:
# (data.学历 == "本科").sum()/data.shape[0]

##### 10 新建福利列，内容根据福利字段进行统计

In [95]:
data["福利数"] = data.福利.str.count("，")+1
data

,标题,公司名,公司领域,经验,规模,福利,城市,区,商圈,薪资下限(K),薪资上限(K),薪数,平均薪资,福利数
1,数据分析师,中电金信,计算机软件,经验不限,10000人以上,定期体检，节日福利，五险一金，补充医疗保险，带薪年假，零食下午茶,上海,浦东新区,张江,15,25,12,20.000000,6.0
2,数据分析师,沃东天骏信息技术,电子商务,5-10年,10000人以上,加班补助，免费班车，带薪年假，定期体检，补充医疗保险，全勤奖，餐补，年终奖，股票期权，节日福...,北京,大兴区,亦庄,30,60,14,52.500000,12.0
3,数据分析师,滴滴,移动互联网,3-5年,1000-9999人,定期体检，补充医疗保险，五险一金,北京,海淀区,马连洼,15,30,15,28.125000,3.0
4,数据分析师,小米,互联网,3-5年,10000人以上,餐补，补充医疗保险，股票期权，年终奖，五险一金，定期体检，节日福利，12%公积金，带薪年假,北京,海淀区,清河,15,30,14,26.250000,9.0
5,数据分析师,饿了么,O2O,5-10年,10000人以上,定期体检，年终奖，股票期权，员工旅游，零食下午茶，包吃，带薪年假，免费班车，交通补助，通讯补...,杭州,西湖区,文三路,25,50,12,37.500000,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,数据分析师,京东集团,电子商务,经验不限,10000人以上,免费班车，包吃，五险一金，定期体检，股票期权，餐补，带薪年假，年终奖，节日福利，零食下午茶，...,北京,通州区,次渠,10,15,12,12.500000,13.0
300,数据分析,有赞,互联网,5-10年,1000-9999人,带薪年假，餐补，通讯补贴，五险一金，节日福利，员工旅游，零食下午茶，免费班车，交通补助，股票...,杭州,西湖区,西溪,20,40,12,30.000000,12.0
301,腾讯云-AI平台机器学习数据分析工程师,腾讯,互联网,3-5年,10000人以上,定期体检，公仔周边活动，五险一金，员工旅游，免费早晚餐，零食下午茶，餐补，交通补助，带薪年假...,西安,雁塔区,枫林绿洲,12,20,12,16.000000,17.0
302,双休+DBA /大数据分析+五险一金,郑州同捷,汽车生产,经验不限,20-99人,年终奖，全勤奖，加班补助，交通补助，员工旅游，补充医疗保险，五险一金，住房补贴，节日福利，带...,郑州,管城回族区,经开区,6,8,13,7.583333,12.0
303,大数据分析与开发,山东思域,计算机软件,5-10年,100-499人,五险一金，加班补助，定期体检，员工旅游，交通补助，带薪年假，节日福利，年终奖，零食下午茶,,,,10,15,12,12.500000,9.0

##### 11 有那些福利项目

In [96]:
fuli_count = "，".join(data.福利[data.福利.notna()])
len(set(fuli_count.split("，"))),set(fuli_count.split("，"))

(99,
 {'12%公积金',
  '不打卡',
  '专业培训',
  '云徙之星',
  '五险',
  '五险一金',
  '交通补助',
  '企业文化',
  '企业滴滴',
  '优秀员工旅游',
  '住房补贴',
  '体检',
  '俱乐部',
  '健身',
  '健身房',
  '健身馆',
  '免费住宿',
  '免费健身',
  '免费健身房',
  '免费协会活动',
  '免费早晚餐',
  '免费班车',
  '入职补贴2k',
  '全勤奖',
  '全年14薪',
  '公仔周边活动',
  '公司团建',
  '公司食堂',
  '六险一金',
  '内购优惠',
  '加班打车报销',
  '加班补助',
  '加班餐补',
  '包住',
  '包吃',
  '北京市户口',
  '医社保',
  '司龄补贴',
  '各项奖金',
  '同心共享奖金',
  '员工BYOD',
  '员工关怀',
  '员工宿舍',
  '员工旅游',
  '员工活动',
  '员工饮',
  '周末双休',
  '商业保险',
  '嘀嘀打车',
  '团建',
  '团建经费',
  '培训',
  '培训与发展',
  '娱乐健身',
  '学习进修',
  '定期体检',
  '定期团建',
  '工会福利',
  '工作时间',
  '工龄奖',
  '带薪培训',
  '带薪年假',
  '带薪病假',
  '年终奖',
  '成长规划',
  '提供工作手机',
  '晋升空间',
  '晚餐',
  '最高公积金',
  '月团建',
  '朝九晚六',
  '每年outing',
  '每月团建费',
  '海外工作',
  '游泳池',
  '生日会',
  '生日福利',
  '电脑补贴',
  '社保',
  '股权激励',
  '股票期权',
  '节假日福利',
  '节日福利',
  '补充公积金',
  '补充医疗保险',
  '购车补贴',
  '过节费',
  '运动健身',
  '远程办公',
  '通勤补贴',
  '通讯补贴',
  '部门团建',
  '重大消息',
  '零食下午茶',
  '青年公寓',
  '项目奖金',
  '食堂',
  '餐补',
  '饭补'})

In [97]:
data.head()

,标题,公司名,公司领域,经验,规模,福利,城市,区,商圈,薪资下限(K),薪资上限(K),薪数,平均薪资,福利数
1,数据分析师,中电金信,计算机软件,经验不限,10000人以上,定期体检，节日福利，五险一金，补充医疗保险，带薪年假，零食下午茶,上海,浦东新区,张江,15,25,12,20.000,6.0
2,数据分析师,沃东天骏信息技术,电子商务,5-10年,10000人以上,加班补助，免费班车，带薪年假，定期体检，补充医疗保险，全勤奖，餐补，年终奖，股票期权，节日福...,北京,大兴区,亦庄,30,60,14,52.500,12.0
3,数据分析师,滴滴,移动互联网,3-5年,1000-9999人,定期体检，补充医疗保险，五险一金,北京,海淀区,马连洼,15,30,15,28.125,3.0
4,数据分析师,小米,互联网,3-5年,10000人以上,餐补，补充医疗保险，股票期权，年终奖，五险一金，定期体检，节日福利，12%公积金，带薪年假,北京,海淀区,清河,15,30,14,26.250,9.0
5,数据分析师,饿了么,O2O,5-10年,10000人以上,定期体检，年终奖，股票期权，员工旅游，零食下午茶，包吃，带薪年假，免费班车，交通补助，通讯补...,杭州,西湖区,文三路,25,50,12,37.500,15.0

In [185]:
# 统计各城市招聘岗位数，平均薪资，最高薪资，最低薪资，薪资标准差
data.groupby("城市").agg({"标题":"count","平均薪资":["mean","max","min","std"]})

        标题       平均薪资
     count       mean        max        min        std
城市
        46  14.567029  62.500000   3.500000  12.941334
上海      33  22.743687  60.000000   8.500000  10.796759
东莞       1   8.500000   8.500000   8.500000        NaN
中山       1  10.500000  10.500000  10.500000        NaN
临汾       1   9.375000   9.375000   9.375000        NaN
乌鲁木齐     1   6.000000   6.000000   6.000000        NaN
佛山       1  30.000000  30.000000  30.000000        NaN
保定       1   5.500000   5.500000   5.500000        NaN
北京      70  24.911310  66.666667   3.500000  12.978314
南京      12  13.420139  30.000000   6.000000   7.806904
南昌       1   6.000000   6.000000   6.000000        NaN
厦门       6  16.520833  33.125000   6.500000  12.711564
台州       1   6.500000   6.500000   6.500000        NaN
唐山       1   4.000000   4.000000   4.000000        NaN
嘉兴       2  11.187500  11.875000  10.500000   0.972272
天津       5  10.516667  22.500000   5.500000   6.931498
宁波       3  12.833333  22.500000   2.500000  10.016653
安阳       1   3.500000   3.500000   3.500000        NaN
广州      15  20.441667  37.500000   7.000000  10.694692
廊坊       1   6.500000   6.500000   6.500000        NaN
成都       9  10.657407  17.000000   5.416667   4.052272
扬州       1   4.500000   4.500000   4.500000        NaN
新乡       1   7.500000   7.500000   7.500000        NaN
昆明       1   7.500000   7.500000   7.500000        NaN
杭州      24  23.128472  46.875000   2.500000  12.326415
武汉       3  10.611111  11.500000   9.500000   1.018350
毕节       1   5.000000   5.000000   5.000000        NaN
沈阳       1   5.000000   5.000000   5.000000        NaN
泉州       1  12.500000  12.500000  12.500000        NaN
济南       1   7.000000   7.000000   7.000000        NaN
海口       1   4.000000   4.000000   4.000000        NaN
深圳      16  24.578125  48.750000   8.000000  11.045161
温州       3   9.430556  12.500000   5.500000   3.578566
湖州       1  16.000000  16.000000  16.000000        NaN
潍坊       1   4.000000   4.000000   4.000000        NaN
烟台       1   5.000000   5.000000   5.000000        NaN
石家庄      3   7.430556  10.291667   5.000000   2.671978
福州      11  12.757576  20.416667   7.000000   4.848712
苏州       3  10.166667  15.000000   5.000000   5.008326
西安       3  21.333333  30.000000  16.000000   7.571878
郑州       3   7.694444   9.000000   6.500000   1.253698
重庆       3   7.833333  10.500000   6.000000   2.362908
金华       2   6.875000   7.500000   6.250000   0.883883
长春       1   7.500000   7.500000   7.500000        NaN
长沙       4   7.833333  10.833333   4.500000   3.064129
青岛       1   7.000000   7.000000   7.000000        NaN

In [189]:
# 统计各城市各经验平均薪资（透视表与交差表分别实现）
pd.pivot_table(data,index="城市",columns="经验",values="平均薪资",aggfunc="mean")       # 透视表
pd.crosstab(index=data.城市,columns=data.经验,values=data.平均薪资,aggfunc="mean")

经验,1-3年,10年以上,1年以内,3-5年,5-10年,在校/应届,经验不限
城市,,,,,,,
,11.558333,30.458333,NaN,17.840909,25.951389,8.000000,6.928571
上海,17.848958,NaN,15.791667,25.772436,31.822917,25.000000,17.766667
东莞,NaN,NaN,8.500000,NaN,NaN,NaN,NaN
中山,NaN,NaN,NaN,NaN,10.500000,NaN,NaN
临汾,NaN,NaN,NaN,9.375000,NaN,NaN,NaN
乌鲁木齐,6.000000,NaN,NaN,NaN,NaN,NaN,NaN
佛山,NaN,NaN,NaN,NaN,30.000000,NaN,NaN
保定,NaN,NaN,NaN,NaN,NaN,NaN,5.500000
北京,18.226190,NaN,3.500000,29.538580,31.279167,10.833333,23.637500
南京,9.625000,NaN,NaN,27.500000,17.500000,6.000000,10.270833
南昌,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
厦门,6.750000,NaN,32.500000,10.625000,33.125000,NaN,9.375000
台州,NaN,NaN,6.500000,NaN,NaN,NaN,NaN
唐山,4.000000,NaN,NaN,NaN,NaN,NaN,NaN
嘉兴,11.187500,NaN,NaN,NaN,NaN,NaN,NaN
天津,6.000000,NaN,NaN,22.500000,NaN,NaN,8.027778
宁波,13.500000,NaN,NaN,22.500000,NaN,2.500000,NaN
安阳,NaN,NaN,NaN,NaN,NaN,NaN,3.500000
广州,10.187500,NaN,NaN,20.450000,27.270833,NaN,NaN
廊坊,NaN,NaN,NaN,NaN,NaN,NaN,6.500000
成都,11.000000,NaN,NaN,16.500000,NaN,NaN,8.138889
扬州,NaN,NaN,NaN,NaN,NaN,4.500000,NaN
新乡,NaN,NaN,NaN,NaN,NaN,NaN,7.500000
昆明,7.500000,NaN,NaN,NaN,NaN,NaN,NaN
杭州,15.300000,NaN,NaN,30.119048,35.750000,NaN,6.250000
武汉,10.833333,NaN,NaN,11.500000,NaN,NaN,9.500000
毕节,5.000000,NaN,NaN,NaN,NaN,NaN,NaN
沈阳,5.000000,NaN,NaN,NaN,NaN,NaN,NaN
泉州,12.500000,NaN,NaN,NaN,NaN,NaN,NaN
济南,NaN,NaN,NaN,7.000000,NaN,NaN,NaN
海口,NaN,NaN,NaN,NaN,4.000000,NaN,NaN
深圳,19.781250,NaN,NaN,21.008333,39.027778,20.666667,30.000000
温州,7.895833,NaN,NaN,12.500000,NaN,NaN,NaN
湖州,NaN,NaN,NaN,16.000000,NaN,NaN,NaN
潍坊,NaN,NaN,NaN,NaN,NaN,4.000000,NaN
烟台,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
石家庄,7.430556,NaN,NaN,NaN,NaN,NaN,NaN
福州,11.375000,NaN,NaN,14.750000,20.416667,NaN,9.541667
苏州,10.500000,NaN,NaN,15.000000,NaN,5.000000,NaN
西安,30.000000,NaN,NaN,16.000000,18.000000,NaN,NaN
郑州,7.750000,NaN,NaN,NaN,NaN,NaN,7.583333
重庆,6.000000,NaN,NaN,7.000000,NaN,NaN,10.500000
金华,6.875000,NaN,NaN,NaN,NaN,NaN,NaN
长春,7.500000,NaN,NaN,NaN,NaN,NaN,NaN
长沙,8.000000,NaN,NaN,7.666667,NaN,NaN,NaN
青岛,7.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
# 找到每个城市薪资最高的区
    # 各城市各区的平均薪资
df = data.groupby(["城市","区"],as_index=False)["平均薪资"].mean()
df
    # 城市内以平均薪资给各区排名
df_rank = df.groupby("城市")["平均薪资"]
df["名次"] = df_rank.rank(ascending=False)
df
    # 找到各城市中平均薪资名次为1的区
df[df.名次==1]

       城市      区       平均薪资   名次
0                 14.567029  1.0
9      上海    黄浦区  30.791667  1.0
10     东莞   南城街道   8.500000  1.0
11     中山   石岐街道  10.500000  1.0
12     临汾    尧都区   9.375000  1.0
13   乌鲁木齐    天山区   6.000000  1.0
14     佛山    顺德区  30.000000  1.0
15     保定    莲池区   5.500000  1.0
24     北京    顺义区  35.000000  1.0
26     南京    江宁区  18.013889  1.0
30     南昌    西湖区   6.000000  1.0
31     厦门    思明区  25.416667  1.0
33     台州          6.500000  1.0
34     唐山    古冶区   4.000000  1.0
36     嘉兴    桐乡市  11.875000  1.0
37     天津    东丽区  14.000000  1.0
41     宁波    江北区  18.000000  1.0
43     安阳    内黄县   3.500000  1.0
49     广州    黄埔区  28.125000  1.0
50     廊坊    三河市   6.500000  1.0
51     成都    武侯区  12.666667  1.0
53     扬州    广陵区   4.500000  1.0
54     新乡    红旗区   7.500000  1.0
55     昆明    盘龙区   7.500000  1.0
59     杭州    拱墅区  30.458333  1.0
64     武汉    江夏区  11.500000  1.0
66     毕节   七星关区   5.000000  1.0
67     沈阳    铁西区   5.000000  1.0
68     泉州    丰泽区  12.500000  1.0
69     济南    历下区   7.000000  1.0
70     海口    美兰区   4.000000  1.0
76     深圳    龙岗区  33.354167  1.0
78     温州    龙湾区  12.500000  1.0
79     湖州    安吉县  16.000000  1.0
80     潍坊    奎文区   4.000000  1.0
81     烟台    芝罘区   5.000000  1.0
82    石家庄    裕华区   8.645833  1.0
85     福州    台江区  15.437500  1.0
89     苏州    昆山市  15.000000  1.0
91     西安    雁塔区  21.333333  1.0
92     郑州  管城回族区   8.291667  1.0
94     重庆    合川区  10.500000  1.0
96     金华    义乌市   6.875000  1.0
97     长春    南关区   7.500000  1.0
98     长沙    岳麓区  10.833333  1.0
102    青岛    黄岛区   7.000000  1.0

In [208]:
rank_test = pd.DataFrame({"school":list("aaabbb"),"score":[80,80,70,50,60,60]})
rank_test_rand = rank_test.groupby("school")["score"]
rank_test["average"] = rank_test_rand.rank(method="average",ascending=False)
rank_test["min"] = rank_test_rand.rank(method="min",ascending=False)
rank_test["max"] = rank_test_rand.rank(method="max",ascending=False)
rank_test["first"] = rank_test_rand.rank(method="first",ascending=False)
rank_test["dense"] = rank_test_rand.rank(method="dense",ascending=False)
rank_test

  school  score  average  min  max  first  dense
0      a     80      1.5  1.0  2.0    1.0    1.0
1      a     80      1.5  1.0  2.0    2.0    1.0
2      a     70      3.0  3.0  3.0    3.0    2.0
3      b     50      3.0  3.0  3.0    3.0    2.0
4      b     60      1.5  1.0  2.0    1.0    1.0
5      b     60      1.5  1.0  2.0    2.0    1.0

In [200]:
# 各城市招聘企业数（企业名称去重计数）
data.groupby("城市",as_index=False)["公司名"].nunique()

      城市  公司名
0          46
1     上海   32
2     东莞    1
3     中山    1
4     临汾    1
5   乌鲁木齐    1
6     佛山    1
7     保定    1
8     北京   54
9     南京   11
10    南昌    1
11    厦门    6
12    台州    1
13    唐山    1
14    嘉兴    2
15    天津    5
16    宁波    3
17    安阳    1
18    广州   14
19    廊坊    1
20    成都    8
21    扬州    1
22    新乡    1
23    昆明    1
24    杭州   23
25    武汉    2
26    毕节    1
27    沈阳    1
28    泉州    1
29    济南    1
30    海口    1
31    深圳   14
32    温州    3
33    湖州    1
34    潍坊    1
35    烟台    1
36   石家庄    3
37    福州   10
38    苏州    3
39    西安    3
40    郑州    3
41    重庆    3
42    金华    2
43    长春    1
44    长沙    4
45    青岛    1

In [209]:
# 统计各商圈招聘岗位数占比
sq_w = data.groupby("商圈",as_index=False)["标题"].count()
zhanbi = sq_w.标题/sq_w.标题.sum()
zhanbi = [format(i,'.2%') for i in zhanbi]
# zhanbi
res = pd.DataFrame({"商圈":sq_w.商圈,"占比":zhanbi})
res

        商圈      占比
0           15.18%
1      万象城   0.33%
2     万达广场   0.33%
3      三元桥   0.33%
4       三林   0.33%
..     ...     ...
180     黄村   0.33%
181     黄贝   0.33%
182     鼓楼   0.33%
183     鼓西   0.33%
184  齐鲁软件园   0.33%

[185 rows x 2 columns]